<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>コース情報一覧</title>
</head>
<body>
<h1>コース情報一覧</h1>
<table border="1">
  <thead>
  <tr>
    <th>ID</th>
    <th>受講生ID</th>
    <th>コース名</th>
    <th>開始日</th>
    <th>終了日</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="studentCourse : ${studentCourseList}">
    <td th:text="${studentCourse.id}"></td>
    <td th:text="${studentCourse.studentId}"></td>
    <td th:text="${studentCourse.courseName}"></td>
    <td th:text="${studentCourse.startDate}"></td>
    <td th:text="${studentCourse.endDate}"></td>
  </tr>
  </tbody>
</table>
</body>
</html>
